 /*------------
 variables
 -------------*/
 :root{
    --main-color: #eea023;
    --dark:#0c1023;
    --dark-light:#191f3a;
    --white:#ffffff;
    --white-light:#c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.25)
    scroll-behavior:smooth;
 }

 /*------------
 global settings
 -----------*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
 }
 ::before,
 ::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-top-highlight-color: transparent;
}
img{
    vertical-align: middle;
    max-width: 80%;
    
}
.container{
    max-width: 1170px;
   
    margin: auto;
}
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 .justify-content-between{
    justify-content: space-between;
 }
 .align-items-center{
    align-items: center;
 }
 /*header*/
 .header{
    padding:12px 0;
    background-color:var(--dark-light)
 }
  .header.logo{
  background-color: blue;
  min-height: 34px;
  display: flex;
  align-items: center;
  padding: 0 15px ;

  }
  .header .nav-toggler{
    height:34px;
    width: 44px;
    margin-right:15px;
    cursor: pointer;
    border: none;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .nav-toggler span{
  height: 2px;
 width: 30px;
 display: block;
 background-color: var(--white);
 position: relative;
  }
  .header .nav-toggler span::before,
  .header .nav-toggler span::after{
  content: '';
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
background-color: var(--white);

  }
  .header .nav-toggler span::before{
    transform: translateY(-8px);
 
  }
  .header .nav-toggler span::after{
    transform: translateY(8px);
 
  }